/target
/pkg
/examples/*/pkg
/examples/*/dist
**/node_modules/
**/.venv/
**/__pycache__/
**/.data/
**/dist/
**/vendor/
**/target/
website/.docusaurus/
website/build/
*.node
*.whl
*.tar.gz
*.so
*.pyd
*.dylib
